*{margin:5;padding:2}

.bd{
	color:red;
	font-size:30px;
	text-transform:uppercase;
	font-family:arial black;
	border-right:3px solid blue;
	background:linear-gradient(skyblue,blue);
	
}












